*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main_container{
    position: relative;
    min-height: calc(100vh - 166px);
}

html{
    font-size: 62.5%;  
    font-family: Arial, Helvetica, sans-serif; 
}

.body_container{
    display: flex;
    justify-content: center;
    margin: 18px;
}

.side_left{
    max-width: 445px;
    width: 445px;
    margin-right: 18px;
    padding: 0px 16px;
    height: fit-content;
}

.side_right{
    max-width: 906px;
    width: 906px;
}

.side_right_item{
    width: 100%;
}


.side_right :first-child{
    margin-bottom: 18px;
}

.side_left,
.side_right_item{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}

.img_container{
    position: relative;
    margin:0  -16px;
    margin-bottom: 80%;
}

.avatar{
    width: 100%;
    position: absolute;
    z-index: -1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.full_name_container{
    width: 100%;
    padding-right: 32px;
    position: absolute;
    margin-top: 40%;
    margin-left: 16px;
}

.editable_element.editing .root_content{
    display: none;
}

.editable_element.editing .edit_input{
    display: block;
}


.full_name{
    position: absolute;
    font-size: 3rem;
    line-height: 52px;
    user-select: none;
    cursor: text;
}

.edit_name{
    width: 100%;
    background-color:rgba(6, 136, 136, 0.15);
    padding: 8px 16px;
    font-size: 3rem;
    border-radius: 10px;
    border: none;
    outline-width: 1px;
    outline-color: rgba(6, 136, 136, 1);
    z-index: 3;
    display: none;
}

.root_content{
    position: absolute;
}

.edit_input{
    display: none;
}


.basic_info_item{
    display: flex;
    margin: 15px 0px 15px 0px;
}

.basic_info_item_icon{
    font-size: 1.8rem;
    color: rgb(6, 136, 136);
    margin-right: 16px;
}

.basic_info_item_content{
    font-size: 1.6rem;
    line-height: 1.8rem;
    opacity: 0.6;
}


.line{
    width: 100%;
    height: 2px;
    background-color: rgba(181, 181, 181, 0.2);
    margin: 18px 0;
}

.title_container{
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 18px 0;
}

.title_container_icon{
    color: rgb(6, 136, 136);
}

.title_container_icon{
    margin-right: 16px;
}

.title_name{
    color: #757575;
    user-select: none;
    margin-right: 8px;
}


.skill_list, .languages_list{
    list-style-type: none;
}

.skill_item, .language_item{
    position: relative;
    height: 60px;
    margin-bottom: 8px;
}

.title_container:hover .icon_add, 
.side_right_item_title:hover .icon_add
{
   visibility: visible;
}

.skill_item:hover .delete_icon,
.language_item:hover .delete_icon,
.work_experience_item:hover .delete_icon,
.education_item:hover .delete_icon
{
    visibility: visible;
}

.skill_name, .language_name{
    font-size: 1.6rem;
    opacity: 0.6;
    margin-left: 4px;
    user-select: none;
}

.icon_add{
    font-size: 2rem;
    opacity: 0.8;
    color: #86c1b0;
    visibility: hidden;
}

.icon_add:hover,
.delete_icon:hover{
    opacity: 0.5;
    cursor: pointer;
}

.delete_icon{
    font-size: 2rem;
    position: absolute;
    right: 1px;
    color: #86c1b0;
    opacity: 0.8;
    visibility: hidden;
}


/* start skill proficient */
.proficient_container, 
.proficient_container{
    width: 100%;
    position: absolute;
    top: 40%
}

.proficient_active{
    text-align: center;
    line-height: 20px;
    font-size: 1.2rem;
    color: #fff;
    height: 20px;
    width: 0%;
    border-radius: 14px;
    background-color: #33af8a8e;
    position: absolute;
    z-index: -1;
}

.proficient{
    position: absolute;
    width: 100%;
    appearance: none;
    height: 20px;
    border-radius: 14px;
    background-color: rgba(91, 91, 91, 0.15);
    cursor: pointer;
}

.proficient::-webkit-slider-thumb{
    appearance: none;
    width: 0px;
}
/* end skill proficient */




/* start side right */
.side_right_item{
    padding: 32px;
}
.side_right_item_title{
    display: flex;
}

.side_right_item_title i{
    font-size: 5rem;
    margin-right: 20px;
    color: rgb(6, 136, 136);
}
.side_right_item_title .side_right_item_title_icon{
    font-size: 2rem;
    line-height: 5.4rem;
    opacity: 0.5;   
}
.side_right_item_title .side_right_item_title_icon:hover{
    opacity: 0.4;
}
.side_right_item_title h2{
    font-size: 3rem;
    line-height: 5rem;
    opacity: 0.6;
    font-weight: 500;
    margin-right: 10px;
}


.work_experience_item, .education_item{
    position: relative;
    margin-top: 30px;
}


.list_work_experience,
.list_education{
    list-style-type: none;
}

.work_experience_item_title_container, .education_item_title_container{
    height: 30px;
}

.work_experience_item_title_name, .education_item_title_name{
    font-size: 2rem;
}

.work_experience_item_title_name_edit, .education_item_title_name_edit{
    font-size: 2rem;
    padding: 4px 10px;
    width: 80%;
    border-radius: 8px;
}

.period{
    position: relative;
    display: flex;
    height: 35px;
}

.period i{
    font-size: 1.8rem;
    color: #068888;
    margin-right: 20px;
}

.time_container{
    position: relative;
}

.period .split{
    margin: -3px 10px 0 10px;
    font-size: 2rem;
    color: #068888;
}

.time_display{
    font-size: 2rem;
    color: #068888;
    top: -2px;
    position: relative;
}

.description_content{
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
    position: relative;
}

.description_edit{
    font-size: 1.5rem;
    padding: 6px 10px;
    width: 100%;
    border-radius: 8px;
}

.list_work_experience :last-child .line,
.list_education :last-child .line{
    width: 0;
    height: 0;
}
/* end side right */


/* start footer */
.footer{
    width: 100%;
    height: 128px;
    background-color: #068888;
    text-align: center;
    padding-top: 15px;
    position: absolute;
    bottom: -148px;
}

.footer_title{
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #f3f3f3d2;
    font-weight: 500;
}

.footer_social_list{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #f3f3f3d2;
}

.footer_social_list li{
    margin: 15px 2px;
}

.footer_social_list li:hover{
    opacity: 0.6;
    cursor: pointer;
}

.footer .copyright{
    font-size: 1.4rem;
    color: #f3f3f3d2;
    font-weight: 500;
}
.footer a{
    color: #f3f3f3d2;
}


/* end footer */